@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("./assets/font/Open-Sans/static/OpenSans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans TC";
  src: local("Noto Sans TC"), url("./assets/font/思源黑體/NotoSansTC-Regular.otf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans TC", "Open Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
